@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #13505B;
  --primary-light: #119DA4;
  --primary-dark: #0C7489;
  --secondary: #D7D9CE;
  --secondary-light: #E5E6E1;
  --accent: #119DA4;
  --accent-light: #14B3BB;
  --background: #FFFFFF;
  --text: #040404;
  --highlight: #0C7489;
}

body {
  margin: 0;
  font-family: 'Gilroy-Medium.e7e7c091';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li button:before {
  color: var(--primary) !important;
}

.slick-dots li.slick-active button:before {
  color: var(--primary-dark) !important;
}